<div class="main flex items-center justify-center">
  <div class="max-w-md w-full space-y-8">
    <h1 class="title">Trocar Senha</h1>

    <form [formGroup]="trocarSenhaForm" (ngSubmit)="onSubmit()"
      class="card flex flex-col gap-6 mx-auto">
      <div class="flex flex-col w-full">
        <label class="form-label" for="senhaAtual">Senha Atual</label>
        <input formControlName="senhaAtual" type="password" id="senhaAtual" name="senhaAtual" required
          class="w-full form-input">
      </div>

      <div class="flex flex-col w-full">
        <label class="form-label" for="novaSenha">Nova Senha</label>
        <input formControlName="novaSenha" type="password" id="novaSenha" name="novaSenha" required
          class="w-full form-input">
      </div>

      <div class="flex flex-col w-full mb-5">
        <label class="form-label" for="confirmarSenha">Confirmar Nova Senha</label>
        <input formControlName="confirmarSenha" type="password" id="confirmarSenha" name="confirmarSenha" required
          class="w-full form-input">
      </div>

      <button type="submit"
        class="w-full btn-primario">
        Alterar Senha
      </button>
    </form>
  </div>
</div>
