<div class="main">
    <h1 class="title mt-8">Trocar Senha</h1>
    <form [formGroup]="trocarSenhaForm" (ngSubmit)="onSubmit()"
        class="flex flex-col gap-6 items-center w-1/2 max-w-4xl">
        <div class="flex flex-col w-full">
            <label class="text-white font-medium mb-2" for="senha">Senha Atual</label>
            <input formControlName="senhaAtual" type="password" id="senhaAtual" name="senhaAtual" required
                class="w-full px-4 py-2 rounded-lg bg-neutral-800 text-white border border-gray-600 focus:outline-none focus:ring-2 focus:ring-cyan-500">
        </div>

        <div class="flex flex-col w-full">
            <label class="text-white font-medium mb-2" for="novaSenha">Senha Nova</label>
            <input formControlName="novaSenha" type="password" id="novaSenha" name="novaSenha" required
                class="w-full px-4 py-2 rounded-lg bg-neutral-800 text-white border border-gray-600 focus:outline-none focus:ring-2 focus:ring-cyan-500">
        </div>

        <div class="flex flex-col w-full mb-5">
            <label class="text-white font-medium mb-2" for="confirmarSenha">Confirmar Senha Nova</label>
            <input formControlName="confirmarSenha" type="password" id="confirmarSenha" name="confirmarSenha" required
                class="w-full px-4 py-2 rounded-lg bg-neutral-800 text-white border border-gray-600 focus:outline-none focus:ring-2 focus:ring-cyan-500">
        </div>
        <button type="submit" class="btn-primario w-full">Alterar Senha</button>
    </form>
</div>