<div class="main">
    <h1 class="my-3 title">Home<hr></h1>
    <div class="gap-3 d-flex flex-row w-100 justify-content-center">
        <div class="gap-3 d-flex flex-column align-items-center col-6" style="width: 40%;">
            <h2 class="mb-3">Meus Jazigos</h2>
            <button class="btn btn-secundario col-12">JAZIGO VAZIO</button>
            <p>Você ainda não possui nenhum jazigo.</p>
        </div>
        <div class="gap-3 d-flex flex-column align-items-center col-6" style="width: 40%;">
            <button class="btn btn-primario col-12">ADQUIRIR JAZIGO</button>
            <button class="btn btn-primario col-12">VISUALIZAR DESPESAS</button>
            <button class="btn btn-primario col-12">AGENDAR LEMBRETE DE VISITA</button>
            <button class="btn btn-primario col-12">AGENDAR REUNIÃO</button>
            <button class="btn btn-primario col-12">REALIZAR DOAÇÕES</button>
        </div>
    </div>
</div>