<div class="main">
  <h1 class="title">Painel de Relatórios</h1>
  <div class="flex flex-col lg:flex-row gap-8 justify-center items-center w-full max-w-6xl mx-auto mt-10">

    <!-- Coluna Relatórios -->
    <div class="flex flex-col items-center bg-neutral-800 rounded-lg shadow-lg p-6 w-full lg:w-1/2 gap-4">
      <p class="text-2xl font-bold">Relatórios</p>
      <button class="btn-primario w-full" routerLink="inadimplentes">CLIENTES INADIMPLENTES</button>
      <button class="btn-primario w-full" routerLink="ocupacao">OCUPAÇÃO DE JAZIGOS</button>
      <button class="btn-primario w-full" routerLink="enterros">ENTERROS</button>
      <button class="btn-primario w-full" routerLink="exumacoes">EXUMAÇÕES</button>
    </div>

  </div>
</div>