<div class="main">
    <h1 class="title mb-8">Login</h1>
    <form (ngSubmit)="onSubmit()" [formGroup]="loginForm" class="flex flex-col items-center gap-2 w-full max-w-md">
      <!-- Campo Email -->
      <div class="w-full mb-4">
        <label for="email" class="block text-white font-medium mb-2">Email</label>
        <input type="email" id="email" name="email" required email formControlName="email"
          class="w-full px-4 py-2 rounded-lg bg-neutral-800 text-white border border-gray-600 focus:outline-none focus:ring-2 focus:ring-cyan-500">
      </div>

      <!-- Campo Senha -->
      <div class="w-full mb-6">
        <label for="senha" class="block text-white font-medium mb-2">Senha</label>
        <input type="password" id="senha" name="senha" required formControlName="senha"
          class="w-full px-4 py-2 rounded-lg bg-neutral-800 text-white border border-gray-600 focus:outline-none focus:ring-2 focus:ring-cyan-500">
      </div>

      <!-- Div de alerta caso haja erro de input -->
        <app-alert [form]="loginForm"></app-alert>

      <!-- Botões Login e Cadastro -->
      <div class="flex justify-between w-full mb-4">
        <button class="btn-primario w-[48%]" type="submit">Entrar</button>
        <button class="btn-primario w-[48%]" routerLink="/cadastro">Cadastro</button>
      </div>

      <!-- Botão Entrar com Google -->
      <div class="w-full">
        <button class="btn-primario w-full" routerLink="/home">Entrar com Google</button>
      </div>
    </form>
  </div>