@import "tailwindcss";

@layer base {
    button:not(:disabled),
    [role="button"]:not(:disabled) {
      cursor: pointer;
    }
}

:root {
    --navbar-height: 5rem; /* Define a altura da navbar */
}

.navbar {
    @apply fixed top-0 left-0 w-full bg-neutral-800 z-50;
    height: var(--navbar-height);
}

.main {
    @apply w-full flex flex-col items-center gap-2 bg-neutral-900 min-h-screen py-8;
    padding-top: var(--navbar-height);
}

.title {
    @apply text-7xl font-bold mt-15 text-white;
    font-family: 'Montserrat', sans-serif;
}

hr {
    border-width: 0.5px;
}

p {
    color: white;
}

input[type="time"]::-webkit-calendar-picker-indicator {
  cursor: pointer;
}

input {
    color-scheme: dark;
}

.btn-primario {
    @apply font-normal text-neutral-200 bg-neutral-800 rounded-2xl p-3 border border-gray-700;

    &:hover {
        @apply text-neutral-200 bg-neutral-700;
    }

    &:active {
        @apply text-black bg-cyan-400 border-cyan-400;
    }
}

.btn-secundario {
    @apply font-normal text-cyan-500 bg-neutral-800 rounded-2xl p-2;

    &:hover {
        @apply text-black bg-cyan-400 border-cyan-400;
    }

    &:active {
        @apply text-black bg-neutral-700 border-neutral-400;
    }
}

.btn-danger {
    @apply font-normal text-black bg-red-500 rounded-2xl p-3 border border-gray-700;

    &:hover {
        @apply text-black bg-red-400;
    }

    &:active {
        @apply text-black bg-neutral-700 border-neutral-400;
    }
}