<div class="main">
    <div class="flex flex-col items-center w-50">
        <h1 class="mt-5 mb-3 title">Contato<hr></h1>
        <div>
            <h5>Email: contato&#64;petcemetery.com</h5>
            <h5>Telefone: (21) 1234-5678 (24h)</h5>
            <h5>Horário de Funcionamento (pode ser alterado):</h5>
            <h5>Segunda a domingo, das 6:00 às 22:30</h5>
        </div>
        <button type="button" class="btn btn-primario mt-3" routerLink="/planos">CONHEÇA NOSSOS PLANOS</button>
    </div>
</div>
