<div class="main container-fluid d-flex flex-column align-items-center gap-2">
    <div class="d-flex flex-column align-items-center w-50">
        <h1 class="my-5 title">Contato<hr></h1>
        <h5>Email: contato&#64;petcemetery.com</h5>
        <h5>Telefone: (21) 1234-5678 (24h)</h5>
        <h5>Horário de Funcionamento:</h5>
        <h5>Segunda a domingo, das 6:00 às 22:30</h5>
        <button type="button" class="btn button-primary-background mt-3">CONHEÇA NOSSOS PLANOS</button>
    </div>
</div>
