<div class="main">
    <div class="flex flex-col items-center w-3/4 lg:w-1/2 gap-6 text-center">
        <h1 class="title">Contato</h1>
        <div class="text-lg leading-relaxed">
            <p>Email: <a href="mailto:contato@petcemetery.com" class="text-primario underline">contato&#64;petcemetery.com</a></p>
            <p>Telefone: <a href="tel:+552112345678" class="text-primario underline">(21) 1234-5678 (24h)</a></p>
            <p>Horário de Funcionamento:</p>
            <p>Segunda a domingo, das 6:00 às 22:30</p>
        </div>
        <button type="button" class="btn-primario px-6 py-3 mt-4" routerLink="/planos">
            CONHEÇA NOSSOS PLANOS
        </button>
    </div>
</div>