<div class="main container-fluid d-flex flex-column justify-content-center align-items-center gap-2">
    <h1 class="mt-3 title">Pet Cemetery</h1>
    <img class="my-3" src="/assets/logo.png" alt="Logo" height="200px" width="200px"/>
    <div class="d-flex flex-column justify-content-center align-items-center gap-3">
        <button class="btn button-primary-background mt-3 w-100">QUEM SOMOS</button>
        <button class="btn button-primary-background w-100">CONHEÇA NOSSOS PLANOS</button>
        <button class="btn button-primary-background w-100">CONTATOS</button>
    </div>
</div>