<div class="main">
    <h1 class="mt-5 title">Pet Cemetery<hr></h1>
    <img class="my-3" src="/assets/logo.png" alt="Logo" height="200px" width="200px"/>
    <div class="d-flex flex-column justify-content-center align-items-center gap-3">
        <button class="btn btn-primario mt-3 w-100" routerLink="quem-somos">QUEM SOMOS</button>
        <button class="btn btn-primario w-100" routerLink="planos">CONHEÇA NOSSOS PLANOS</button>
        <button class="btn btn-primario w-100" routerLink="contato">CONTATOS</button>
    </div>
</div>