<div class="main">
    <div class="d-flex flex-column align-items-center w-50">
        <h1 class="my-3 title">Quem Somos<hr></h1>
        <h5>
            No nosso cemitério de animais, nós entendemos que eles são membros da família e merecem ser tratados com o mesmo respeito
            e dignidade que qualquer outro ente querido. Nós nos esforçamos para fornecer um ambiente de paz e tranquilidade para
            que você possa se despedir de seu animal de estimação com amor e respeito. Nós nos orgulhamos de oferecer um serviço
            de qualidade e de estar disponíveis para ajudar você e sua família durante este momento difícil. É por isso que criamos
            este espaço dedicado a homenagear e lembrar aqueles que partiram. Aqui você pode compartilhar memórias, fotos e mensagens
            de carinho para que seu animal de estimação seja lembrado com amor e carinho. Nós acreditamos que a morte não é o fim,
            mas sim o início de uma nova jornada. E é por isso que estamos aqui para ajudar você a se despedir de seu eterno
            companheiro(a) da melhor maneira possível.
        </h5>
        <button type="button" class="btn btn-primario mt-3" routerLink="/planos">CONHEÇA NOSSOS PLANOS</button>
    </div>
</div>
