<div class="main p-20">
  <div class=" flex flex-col items-center">
    <div class="bg-neutral-800 rounded-2xl p-6 mb-12 mt-8 shadow-lg w-full">
      <h2 class="text-3xl font-bold tracking-tight text-white mb-4">Resumo da sua Escolha</h2>
      <div class="text-lg space-y-2 text-gray-300">
        <p><strong>Jazigo: </strong>{{ escolhaRecebida?.enderecoJazigo }}</p>
        <p><strong>Serviço: </strong> <span class="capitalize">{{ escolhaRecebida?.compraOuAluguel!.tipoServico }}</span></p>
      </div>
    </div>

    <!-- Seção de Título dos Planos -->
    <div class="text-center w-full">
      <h1 class="title">Escolha um Plano de Ornamentação</h1>
      <p class="mx-auto mt-6 max-w-2xl text-center text-lg text-white sm:text-xl">Adicione uma homenagem especial ao seu eterno companheiro com um de nossos planos de ornamentação.</p>
    </div>

    <!--
      Grid de Planos Dinâmico
    -->
    <div class="mx-auto mt-16 grid max-w-lg grid-cols-1 gap-y-8 sm:mt-20 lg:max-w-4xl lg:grid-cols-3 lg:gap-x-8 w-full">

      <!-- Card de Plano Dinâmico -->
      <div *ngFor="let plano of planos"
           (click)="selecionarPlano(plano)"
           [ngClass]="{
             'bg-white': plano.tipoServico == 'BASIC',
             'bg-gray-500': plano.tipoServico == 'SILVER',
             'bg-yellow-300': plano.tipoServico == 'GOLD',
             'ring-4 ring-cyan-400 scale-105': plano === planoSelecionado,
             'ring-1 ring-gray-200': plano !== planoSelecionado
           }"
           class="flex flex-col rounded-3xl p-8 shadow-lg cursor-pointer transition-all hover:scale-105">

        <h3 class="text-base font-bold text-gray-900">{{ plano.tipoServico }}</h3>
        <p class="mt-4 flex items-baseline gap-x-2">
          <span class="text-5xl font-bold text-gray-900">{{ plano.valor | currency:'BRL' }}</span>
        </p>

        <ul role="list" class="mt-8 space-y-3 text-black font-semibold flex-grow">
          <li class="flex gap-x-3">
            <svg class="h-6 w-5 flex-shrink-0 text-green-500" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
            </svg>
            Mensagem
          </li>
          <li class="flex gap-x-3">
            <svg class="h-6 w-5 flex-shrink-0 text-green-500" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
            </svg>
            Foto
          </li>
          <li class="flex gap-x-3">
            <svg *ngIf="plano.tipoServico != 'BASIC'" class="h-6 w-5 flex-shrink-0 text-green-500" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
            </svg>
            <svg *ngIf="plano.tipoServico == 'BASIC'" class="h-6 w-5 flex-shrink-0 text-red-500" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path d="M6.28 5.22a.75.75 0 00-1.06 1.06L8.94 10l-3.72 3.72a.75.75 0 101.06 1.06L10 11.06l3.72 3.72a.75.75 0 101.06-1.06L11.06 10l3.72-3.72a.75.75 0 00-1.06-1.06L10 8.94 6.28 5.22z" />
            </svg>
            Flores
          </li>
          <li class="flex gap-x-3">
            <svg *ngIf="plano.tipoServico == 'GOLD'" class="h-6 w-5 flex-shrink-0 text-green-500" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
            </svg>
            <svg *ngIf="plano.tipoServico != 'GOLD'" class="h-6 w-5 flex-shrink-0 text-red-500" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path d="M6.28 5.22a.75.75 0 00-1.06 1.06L8.94 10l-3.72 3.72a.75.75 0 101.06 1.06L10 11.06l3.72 3.72a.75.75 0 101.06-1.06L11.06 10l3.72-3.72a.75.75 0 00-1.06-1.06L10 8.94 6.28 5.22z" />
            </svg>
            Catavento
          </li>
        </ul>
      </div>
    </div>

    <!--
      Seção de Confirmação
    -->
    <div *ngIf="planoSelecionado" class="mt-16 text-center w-full">
      <div class="bg-neutral-800 rounded-2xl p-6 max-w-2xl mx-auto shadow-lg">
          <h3 class="text-2xl font-bold text-white">Resumo Final</h3>
          <div class="text-lg text-gray-300 mt-4 space-y-1">
              <p>Serviço ({{ escolhaRecebida?.compraOuAluguel!.tipoServico | titlecase }}): {{ escolhaRecebida?.compraOuAluguel!.valor| currency:'BRL' }}</p>
              <p>Plano ({{ planoSelecionado.tipoServico }}): {{ planoSelecionado.valor | currency:'BRL' }}</p>
          </div>
          <hr class="border-gray-600 my-4">
          <p class="text-3xl font-bold text-white">
              Total: {{ valorTotal | currency:'BRL' }}
          </p>
          <button class="btn-primario mt-6 w-full max-w-xs mx-auto bg-green-600 text-white font-bold py-3 px-6 hover:bg-green-500 active:bg-cyan-400">
              Confirmar e Adicionar ao Carrinho
          </button>
      </div>
    </div>

  </div>
</div>
