<div class="main py-12 px-4 sm:px-6 lg:px-8">
    <div class="max-w-sm w-full space-y-8">
        <h1 class="title">Perfil</h1>

        <div class="card rounded-2xl shadow-2xl p-8 md:p-10 flex flex-col gap-6 w-full mx-auto">

            <div class="grid grid-cols-1 gap-6">
                <div class="flex flex-col">
                    <label class="form-label" for="nome">Nome</label>
                    <input type="text" id="nome" name="nome" disabled [value]="usuarioLogado?.nome"
                        class="w-full form-input-disabled focus:outline-none">
                </div>
                <div class="flex flex-col">
                    <label class="form-label" for="email">Email</label>
                    <input type="text" id="email" name="email" disabled [value]="usuarioLogado?.email"
                        class="w-full form-input-disabled focus:outline-none">
                </div>
                <div class="flex flex-col">
                    <label class="form-label" for="telefone">Telefone</label>
                    <input type="text" id="telefone" name="telefone" disabled [value]="usuarioLogado?.telefone"
                        class="w-full form-input-disabled focus:outline-none">
                </div>
            </div>

            <div class="mt-5 flex flex-col gap-4 w-full">
                <button class="btn-primario w-full shadow-lg" routerLink="editar">
                    Editar Perfil
                </button>
                <button class="btn-primario w-full shadow-lg" routerLink="editar-senha">
                    Trocar Senha
                </button>
                <button class="btn-danger w-full shadow-lg" (click)="this.modalAberto = true">
                    Desativar Perfil
                </button>
            </div>
        </div>
    </div>

    <div *ngIf="modalAberto"
        class="fixed inset-0 bg-black bg-opacity-50 backdrop-blur-sm flex items-center justify-center z-50 p-4">
        <div
            class="bg-neutral-800 rounded-xl shadow-2xl p-6 w-full max-w-md flex flex-col items-center border border-neutral-700">
            <h2 class="text-2xl font-bold mb-4 text-primary text-center">Deseja realmente desativar sua conta?</h2>
            <p class="text-gray-300 text-center mb-6">Você só conseguirá reativar sua conta caso entre em contato com a
                nossa administração.</p>
            <div class="flex flex-col sm:flex-row justify-between gap-4 w-full">
                <button class="btn-danger flex-1 shadow-lg" (click)="desativarPerfil()">
                    Desativar
                </button>
                <button
                    class="btn-primario flex-1 bg-gray-600 text-primary hover:bg-gray-700 focus:ring-gray-500 focus:ring-offset-neutral-800 shadow-lg"
                    (click)="this.modalAberto = false">
                    Cancelar
                </button>
            </div>
        </div>
    </div>
</div>