<div class="main">
    <h1 class="title">Perfil</h1>
    <div class="flex flex-col gap-8 justify-center items-center w-full mt-5">
        <div class="flex flex-col items-center rounded-lg p-6 md:w-1/2 sm:w-4/5 w-full">
            <div class="flex flex-col md:w-1/2 w-full mb-4">
                <label class="text-white font-medium mb-2" for="nome">Nome</label>
                <input type="text" id="nome" name="nome" disabled
                    [value]="usuarioLogado?.nome"
                    class="w-full px-4 py-2 rounded-lg bg-neutral-800 text-white border border-gray-600 focus:outline-none focus:ring-2 focus:ring-cyan-500">
            </div>
            <div class="flex flex-col md:w-1/2 w-full mb-4">
                <label class="text-white font-medium mb-2" for="email">Email</label>
                <input type="text" id="email" name="email" disabled
                    [value]="usuarioLogado?.email"
                    class="w-full px-4 py-2 rounded-lg bg-neutral-800 text-white border border-gray-600 focus:outline-none focus:ring-2 focus:ring-cyan-500">
            </div>
            <div class="flex flex-col md:w-1/2 w-full mb-4">
                <label class="text-white font-medium mb-2" for="telefone">Telefone</label>
                <input type="text" id="telefone" name="telefone" disabled
                    [value]="usuarioLogado?.telefone"
                    class="w-full px-4 py-2 rounded-lg bg-neutral-800 text-white border border-gray-600 focus:outline-none focus:ring-2 focus:ring-cyan-500">
            </div>
            <div class="flex flex-col mt-4 justify-center items-center md:w-1/3 sm:w-4/5 w-full">
                <button class="btn-primario w-full mt-4" routerLink="editar">EDITAR PERFIL</button>
                <button class="btn-primario w-full mt-4" routerLink="editar-senha">TROCAR SENHA</button>
                <button class="btn-danger w-full mt-4" (click)="this.modalAberto = true">DESATIVAR PERFIL</button>
            </div>
        </div>
    </div>

    <!-- Modal desativar perfil -->
    <div *ngIf="modalAberto"
        class="fixed inset-0 bg-opacity-50 backdrop-blur-sm flex items-center justify-center z-50">
        <div class="bg-neutral-800 rounded-lg shadow-lg p-6 w-full max-w-md flex flex-col items-center">
            <h2 class="text-xl font-bold mb-4 text-white">Deseja realmente desativar sua conta?</h2>
            <p>Você só conseguirá reativar sua conta caso entre em contato com a nossa administração.</p>
            <div class="flex justify-between mt-5 w-full">
                <button class="btn-danger w-[48%]" (click)="desativarPerfil()">
                    Desativar
                </button>
                <button class="btn-primario w-[48%]" (click)="this.modalAberto = false">
                    Cancelar
                </button>
            </div>
        </div>
    </div>
</div>