<div class="main">
    <h1 class="title my-5">Planos<hr></h1>
    <div class="flex flex-row justify-center w-50 h-75 gap-5 mt-5">

        <div class="card h-50 text-bg-light">
            <h4 class="card-header text-center">
                Basic
            </h4>
            <div class="card-body">
                <div class="flex flex-col justify-center gap-1">
                    <h4 class="card-subtitle align-self-center mb-4">R$1,00</h4>
                    <div class="gap-2 flex">
                        <input id="basic-mensagem" type="checkbox" disabled checked>
                        <label for="basic-mensagem">Mensagem</label>
                    </div>
                    <div class="gap-2 flex">
                        <input id="basic-foto" type="checkbox" disabled checked>
                        <label for="basic-foto">Foto</label>
                    </div>
                    <div class="gap-2 flex">
                        <input id="basic-flores" type="checkbox" disabled>
                        <label for="basic-flores">Flores</label>
                    </div>
                    <div class="gap-2 flex">
                        <input id="basic-catavento" type="checkbox" disabled>
                        <label for="basic-catavento ">Catavento</label>
                    </div>
                </div>
            </div>
        </div>


        <div class="card h-50 text-bg-secondary">
            <h4 class="card-header text-center text-black">
                Silver
            </h4>
            <div class="card-body">
                <div class="flex flex-col justify-center gap-1">
                    <h4 class="card-subtitle align-self-center mb-4 text-black">R$50,00</h4>
                    <div class="gap-2 flex">
                        <input id="basic-mensagem" type="checkbox" disabled checked>
                        <label for="basic-mensagem">Mensagem</label>
                    </div>
                    <div class="gap-2 flex">
                        <input id="basic-foto" type="checkbox" disabled checked>
                        <label for="basic-foto">Foto</label>
                    </div>
                    <div class="gap-2 flex">
                        <input id="basic-flores" type="checkbox" disabled checked>
                        <label for="basic-flores">Flores</label>
                    </div>
                    <div class="gap-2 flex">
                        <input id="basic-catavento" type="checkbox" disabled>
                        <label for="basic-catavento">Catavento</label>
                    </div>
                </div>
            </div>
        </div>


        <div class="card h-50 text-bg-warning">
            <h4 class="card-header text-center">
                Gold
            </h4>
            <div class="card-body">
                <div class="flex flex-col justify-center gap-1">
                    <h4 class="card-subtitle align-self-center mb-4">R$80,00</h4>
                    <div class="gap-2 flex">
                        <input id="basic-mensagem" type="checkbox" disabled checked>
                        <label for="basic-mensagem">Mensagem</label>
                    </div>
                    <div class="gap-2 flex">
                        <input id="basic-foto" type="checkbox" disabled checked>
                        <label for="basic-foto">Foto</label>
                    </div>
                    <div class="gap-2 flex">
                        <input id="basic-flores" type="checkbox" disabled checked>
                        <label for="basic-flores">Flores</label>
                    </div>
                    <div class="gap-2 flex">
                        <input id="basic-catavento" type="checkbox" disabled checked>
                        <label for="basic-catavento ">Catavento</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>