<div class="main container-fluid d-flex flex-row justify-content-center align-items-center gap-2">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Basic</h5>
            <h6 class="card-subtitle">R$1,00</h6>
            <!-- 3 checkbocks com os produtos (flores, foto, mensagem) -->
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Silver</h5>
            <h6 class="card-subtitle">R$50,00</h6>
            <!-- 3 checkbocks com os produtos (flores, foto, mensagem) -->
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Gold</h5>
            <h6 class="card-subtitle">R$80,00</h6>
            <!-- 3 checkbocks com os produtos (flores, foto, mensagem) -->
        </div>
    </div>
</div>
