<div class="main container-fluid d-flex flex-column align-items-center">
    <h1 class="title my-4">Planos<hr></h1>
    <div class="d-flex flex-row justify-content-center w-100 h-100 gap-4">
        <div class="card h-75 text-bg-light">
            <div class="card-header text-center">
                Basic
            </div>
            <div class="card-body">
                <h6 class="card-subtitle">R$1,00</h6>
                <!-- 3 checkbocks com os produtos (flores, foto, mensagem) -->
            </div>
        </div>
        <div class="card h-75 text-bg-secondary">
            <div class="card-header text-center">
                Silver
            </div>
            <div class="card-body">
                <h6 class="card-subtitle">R$50,00</h6>
                <!-- 3 checkbocks com os produtos (flores, foto, mensagem) -->
            </div>
        </div>
        <div class="card h-75 text-bg-warning">
            <div class="card-header text-center">
                Gold
            </div>
            <div class="card-body">
                <h6 class="card-subtitle">R$80,00</h6>
                <!-- 3 checkbocks com os produtos (flores, foto, mensagem) -->
            </div>
        </div>
    </div>
</div>