@import '../../../styles.scss';


h5 {
    color: black;
}

.card {
    width: 20%;
}


:host {
    input[type="checkbox"] {
        @extend .form-check-input, .opacity-100;
        width: 1.25em;
        height: 1.25em;
    }

    label {
        @extend .form-check-label, .opacity-100, .text-black;
        font-size: larger;
        font-weight: 500;
    }
}
