<nav class="navbar bg-dark justify-content-between">
    <div class="d-flex mx-2">
        <a routerLink="/home">
            <img src="/assets/logo.svg" height="50px" width="50px" alt="Logo" />
        </a>
    </div>
    <div class="d-flex gap-2">
        <button type="button" class="btn btn-secondary" routerLink="/home">HOME</button>
        <button type="button" class="btn btn-secondary" routerLink="/quem-somos">QUEM SOMOS</button>
        <button type="button" class="btn btn-secondary" routerLink="/planos">PLANOS</button>
        <button type="button" class="btn btn-secondary" routerLink="/contato">CONTATO</button>
    </div>
    <div class="d-flex gap-2 mx-2">
        <button type="button" class="btn btn-info text-black" routerLink="/login">LOGIN</button>
        <button type="button" class="btn btn-info text-black" routerLink="/cadastro">CADASTRO</button>
    </div>
</nav>