<nav class="navbar">
    <div class="w-full flex items-center p-3">
        <div class="flex-1">
            <img src="/assets/logo.svg" class="h-14 w-14 cursor-pointer" alt="Logo" routerLink="/home" />
        </div>
        <div class="flex space-x-4 mx-auto">
            <a href="#" class="rounded-md px-5 py-4 text-sm font-medium text-neutral-300 hover:bg-neutral-700 hover:text-white" routerLink="/home">HOME</a>
            <a href="#" class="rounded-md px-5 py-4 text-sm font-medium text-neutral-300 hover:bg-neutral-700 hover:text-white" routerLink="/quem-somos">QUEM SOMOS </a>
            <a href="#" class="rounded-md px-5 py-4 text-sm font-medium text-neutral-300 hover:bg-neutral-700 hover:text-white" routerLink="/planos">PLANOS</a>
            <a href="#" class="rounded-md px-5 py-4 text-sm font-medium text-neutral-300 hover:bg-neutral-700 hover:text-white" routerLink="/contato">CONTATO</a>
            <a href="#" class="rounded-md px-5 py-4 text-sm font-medium text-neutral-300 hover:bg-neutral-700 hover:text-white" routerLink="/horario-funcionamento">HORÁRIOS</a>
        </div>
        <div class="flex-1 flex justify-end space-x-4">
            <a *ngIf="!usuarioLogado" class="bg-cyan-500 rounded-md px-5 py-3 text-sm font-medium text-black hover:bg-cyan-400 hover:text-black" routerLink="/login">LOGIN</a>
            <a *ngIf="!usuarioLogado" class="bg-cyan-500 rounded-md px-5 py-3 text-sm font-medium text-black hover:bg-cyan-400 hover:text-black" routerLink="/cadastro">CADASTRO</a>
            <a *ngIf="usuarioLogado" class="bg-cyan-500 rounded-md px-5 py-3 text-sm font-medium text-black hover:bg-cyan-400 hover:text-black" routerLink="/home/perfil">PERFIL</a>
            <a *ngIf="usuarioLogado" (click)="logout()" class="bg-red-500 rounded-md px-5 py-3 text-sm font-medium text-black hover:bg-red-400 hover:text-black cursor-pointer">LOGOUT</a>
        </div>
    </div>
</nav>