@import "bootstrap/scss/bootstrap";
$enable-grid: true;


.main {
    @extend .container-fluid, .d-flex, .flex-column, .align-items-center, .gap-2;
    background-color: rgba(8, 8, 8, 0.950);
    height: 100%;
}

.title {
    font-size: 100px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h1, h5 {
    color: white;
}

hr {
    border-width: 0.5px;
}

html, body {
    height: 100%;
    overflow: hidden;
}

:host {
    --btn-base-color: #7fd7f5;
    --btn-hover-color: #{lighten(#7fd7f5, 15%)};

    .btn-info {
        background-color: var(--btn-base-color);

        &:hover {
            background-color: var(--btn-hover-color);
        }
    }
}