<div class="max-w-sm bg-white rounded-lg shadow-md overflow-hidden">
    <img [src]="org.imagem" alt="Imagem da ONG" class="w-full h-48 object-cover">
    <div class="p-6 flex flex-col items-center">
      <h5 class="text-xl font-bold text-gray-900 mb-2">{{org.nome}}</h5>
      <p class="text-center mb-4">{{org.descricao}}</p>
      <a [href]="org.link" target="_blank" rel="noopener noreferrer" class="px-4 py-2 bg-accent text-white rounded-lg hover:bg-accent-hover transition">
        Ajudar
      </a>
    </div>
</div>