.button-primary-background {
    background-color: #7fd7f5;
}

.main {
    background-color: rgb(8, 8, 8);
    height: 100%;
}

.title {
    font-size: 100px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h1, h5 {
    color: white;
}

hr {
    border-width: 0.5px;
}

html, body {
    height: 100%;
    overflow: hidden;
}