.button-primary-background {
    background-color: #7fd7f5;
}

.main {
    background-color: rgb(8, 8, 8);
    height: 92.9vh;
}

h1 {
    color: white;
}

.title {
    font-size: 100px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h5 {
    color: white;
}

hr {
    border-width: 0.5px;
}