<div class="main">
    <h1 class="title">Agendar Reunião</h1>
    <div class="flex flex-col items-center card max-w-md mx-auto gap-1">
        <label for="data-reuniao" class="form-label w-full">Escolha a data da reunião</label>
        <input placeholder="Data da reunião" type="date" id="data-reuniao" name="data-reuniao"
            class="w-full form-input mb-3"
            [(ngModel)]="dataSelecionada" [min]="minDate" [max]="maxDate" />

        <label for="motivo" class="form-label w-full">Motivo da reunião</label>
        <select id="motivo" name="motivo"
            class="w-full form-input mb-3"
            [(ngModel)]="motivoSelecionado">
            <option value="" disabled selected>Selecione um motivo</option>
            <option *ngFor="let motivo of motivos" [value]="motivo">{{ motivo }}</option>
        </select>

        <label for="horario" class="form-label w-full">Horário</label>
        <select id="horario" name="horario"
            class="w-full form-input mb-5"
            [(ngModel)]="horarioSelecionado">
            <option value="" disabled selected>Selecione um horário</option>
            <option *ngFor="let horario of horarios" [value]="horario">{{ horario }}</option>
        </select>

        <button class="btn-primario w-full" (click)="abrirModal()"
            [disabled]="!dataSelecionada || !motivoSelecionado || !horarioSelecionado">
            Agendar Reunião
        </button>
    </div>

    <!-- Modal de confirmação -->
    <div *ngIf="modalAberto" class="fixed inset-0 bg-opacity-50 backdrop-blur-sm flex items-center justify-center z-50">
        <div class="bg-foreground rounded-lg shadow-lg p-6 w-full max-w-md">
            <h2 class="text-xl font-bold mb-4 text-white">Confirmar Agendamento</h2>
            <p class="form-label">Data: {{ dataSelecionada | date: 'dd/MM/yyyy' }}</p>
            <p class="form-label">Motivo: {{ motivoSelecionado }}</p>
            <p class="form-label">Horário: {{ horarioSelecionado }}</p>
            <div class="flex justify-between mt-5">
                <button class="btn-primario border border-gray-700 w-[48%]" (click)="confirmarReuniao()">
                    Confirmar
                </button>
                <button class="btn-danger w-[48%]"
                    (click)="modalAberto = false">
                    Cancelar
                </button>
            </div>

            <!-- Ícone de carregamento -->
            <div *ngIf="agendandoReuniao" class="flex justify-center items-center mb-6">
                <svg class="animate-spin h-8 w-8 text-cyan-400" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                    <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                    <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8v8z"></path>
                </svg>
            </div>

        </div>
    </div>
</div>